server:
  port: 5278

logging:
  level: INFO

custom:
  management:
    security:
      access: hasIpAddress('127.0.0.1') or hasIpAddress('0:0:0:0:0:0:0:1')
  connection:
    remote:
      prefix: https://localhost/Course/api/v0/
ncu:
  oauth:
    api-token: your-api-token
    server-path: https://localhost/oauth

log-api:
    uri: https://log.apitest.cc.ncu.edu.tw/log/api
